<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
     <link rel="icon" href="../images/cloudy.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>

    <div class="main-content">
    {{>header}}


      <img class="picture" src="./images/IMG_0143.jpeg" alt="Dope" srcset="" />

      <p>This site was created to grab weather details from mapbox.com and weatherstack.
         This will give you accurately weather forecast for your place of choice at that given moment.</p>

    </div>
   
    
  
  
  {{>footer}}
  </body>
</html>