body {
    color: darkgrey;
    background: linear-gradient(45deg, rgb(91, 184, 221), white, rgb(91, 184, 221));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

header{
    margin-top: 20px;
    margin-bottom: 50px;
}

h1{
    font-size: 70px;
    margin-bottom: 20px;
}

#header-link {
    color: goldenrod;
    margin-right: 15px;
    text-decoration: none;
}

.picture {
    width: 300px;
}

footer {
    border-top: 1px solid goldenrod;
    margin-top: 20px;
    padding: 25px 0;
}

input {
    border: 2px solid goldenrod;
    border-radius: 8px;
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: skyblue;
    color: beige;
    border: 2px solid goldenrod;
    border-radius: 8px;
    padding: 10px;
    
}